body{
	background-image:url(../images/bg.png);
	background-repeat:no-repeat;
	background-size: cover;	
    font-size:16px ;
    font-family: Verdana, sans-serif;  
	width:100%;
    background-position: center;
}
html{ 
    min-height:800px;
}

a{
    text-decoration: none;
}

header{
    width:100%;
    height:55px;
    background-color:  rgba(0, 0, 0, 0.41);
}

.J{
    text-decoration: none;
    color:  #ffffff;
    font-size: 1.25em;
    font-weight: 700;
    position: relative;
    top:20px;
    left:8vw;
    text-transform: uppercase;
}

.J:hover{
    color:  #3cb878;
}

ul{
    list-style: none;
    width:140px;
    position: absolute;
    top: 0;
    right: 300px;
    border-right:2px solid #31302f;
}


ul li{
    display: inline-block;
    background:url('../images/z1.png') no-repeat;
    width: 27px;
    height: 22px;
    margin-right: 15px;
}

.sprites1{
    background-position: -325px -114px;
}

.sprites2{
    background-position:-387px -111px;
}


.sprites3{
    background-position: -444px -112px;
    
}


ol{
    list-style: none;
    width:140px;
    position: absolute;
    top: 0;
    right: 300px;
    border-right:2px solid #31302f;

}

ol li{
    display: inline-block;
    background:url('../images/fr1.png') no-repeat;
    width: 27px;
    height: 22px;
    margin-right: 15px;
    z-index: 1;
    opacity:0;
}


.sprites1-active{
    background-position: -327px -114px;
}

.sprites2-active{
    background-position:-383px -112px;
}


.sprites3-active{
    background-position: -444px -113px;
    
}

li:hover{
    opacity: 1;
}


.header__right{
    font-size: 0.875em;
    color:  #ffffff;
    position: absolute;
    top: 20px;
    right:60px;
}

.header__a{
    color:  #3cb878;
}




.main{
    border:3px solid #ffffff;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    width: 445px;
    min-height: 585px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 80px));
    background-color: #ffffff;
    border-radius:5px ;
}

.text-container{
    margin-top: 30px;
    margin-left: 65px;  
    height:25px;
   
}


.text-1{
    color:  #434343;
    font-size: 1.25em;
}


.text-2{
    margin-left: 290px;
    margin-top: -19px;
}

.text-2-link{
    color:  #3cb878;
    font-size: 0.875em;
}

.square{
    width:20px;
    height:20px;
    background-color: #3cb878;
    position: relative;
    right: 68px;
    bottom: 21px;
}


.blocks-container{
    display: inline-block;
    height:50px;
    width: 445px;
    margin-top: 15px;
}

.blocks-container button{
    display: inline-block;
    width: 160px;
    height:50px;
    border-radius: 3px;
    cursor:pointer;
}



.facebook{
    margin-left: 65px;
    background-color:  #305db8;
    border:0px solid #305db8;
}



.google{
    margin-left: 5px;
    background-color:  #df4a32;
    border:0px solid #df4a32;
    position: relative;
    bottom: 10px;
}


.f{
    display: inline-block;
    color:#ffffff;
    font-size: 1.5em;
    border-right:2px solid #2b54a5;
    width:20px;
    margin-right: 25px;
    width:35px;
}

.fb-text{
    display: inline-block;
    color:#ffffff;
    font-size: 1em;  
    position: relative;
    bottom: 3px;
    right:10px;
}


.g{
    display: inline-block;
    color:#ffffff;
    font-size: 1.5em;
    position: relative;
    top:8px;
    right:15px;
    
}

.plus{
    display: inline-block;
    color:#ffffff;
    font-size: 0.6em;
    font-weight:900;
    position: relative;   right: 18px;
    top: 3px;  
}


.line{
    border-right:2px solid #c8422d;   
    height: 30px;
    width:2px;
    position: relative;
    bottom: 20px;
    left:55px;
}


.google-text{
    display: inline-block;
    color:#ffffff;
    font-size: 1em;
    position: relative;
    top: 6px;
    left: 16px;
}


.facebook:hover{
    background-color:  #264b96;
}

.google:hover{
    background-color:  #c3412c;
}

.text-2-link:hover ,
.header__a:hover ,
.form-a__footer:hover {
    text-decoration: underline;
}


:hover{
    transition: 0.7s all;
}



.or__line {
    position: relative;
    width: 320px;
    text-align: center;
    left:62px;
    top: 20px;
}
.line__or {
    position: absolute;
    top: 20px;
    left: 0; right: 0;
    background: #eaeaea;
    width: 331px;
    height:1px;
}
.or {
    color:  #848484;
    font-size: 0.875em;
    z-index: 2;
    position: relative;
    display: inline-block;
    background: #ffffff;
    padding:20px;
    bottom: 10px;
    left:7px;
}


form{
    margin-top: 12px;
    text-align: center;
}


.text-area{
    background-color: #ffffff;
    width: 317px;
    height: 46px;
    border: 1px solid #bebebe;
    
}

input{
    margin-left: 10px;
    margin-bottom: 15px;
}

input[placeholder]{
    color:  #bebebe;
    font-size: 0.875em;
    padding-left:15px;
}

input {
    outline:none;
}

.text-area:focus{
    border-color: transparent;
    border-radius: 3px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    transition: 0.7s all;
    color:  #434343;
    font-size: 0.875em;
}

label{
    color:  #434343;
    font-size: 0.875em;
}

.checkbox{
    position: relative;
    right:47px;
}


input[type="checkbox"]{
    display: none; 
}

label:before {
    content: "";
    width:18px;
    height:18px;
    display:inline-block;
    border: 1px solid #ebebeb;
    vertical-align: middle;
    margin-right: 5px;
}


input[type="checkbox"]:checked + label:before{
    content: "\2714";
    font-weight:600;
	color: #3cb878;
}


.form-a__footer{
    font-family: Verdana;
    color:  #3cb878;
    font-size: 0.875em;
}






.footer__button{
    width: 320px;
    height: 46px;
    background-color: #3cb878;
    color:#ffffff;
    margin: 20px 10px;
   
    outline: none;
    border:1px solid #3cb878;
    border-radius:3px;
}


.footer__button:hover{
    background-color: #329a65;
    cursor: pointer;
}














